{% extends 'base.html.twig' %}

{% block title %}Liste des armes {% endblock %}



{% block monTitre %}Liste des armes{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="armes">Armes</li>
    </ol>
</nav>
{% endblock %}

{% block body %}


<div class="row row-cols-1 row-cols-md-3 row-cols-sm-1">
{% for arme in armes %}
    <div class="col">
        <div class="card mb-3">
          <img src="{{ asset("img/armes/" ~ arme.nom|lower|replace({"é":"e"}) ~ ".png") }}" class="card-img-top perso mt-3" alt="">
          <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                    <td>Type d'arme</td>
                    <td><a href="{{ path("afficher_arme", {"nom" : arme.nom|lower|replace({"é":"e"}) }) }}" class="name">{{ arme.nom }}</a></td>
                </tbody>
            </table>
          </div>
        </div>
    </div>
{% endfor %}
</div>





{% endblock %}
