{% extends 'base.html.twig' %}

{% block title %}Arme :
	{{ arme.nom }}
{% endblock %}

{% block monTitre %}Description de l'arme 
{% endblock %}


{% block breadcrumb %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="/">Accueil</a>
			</li>
    		<li class="breadcrumb-item">
				<a href="/armes">Armes</a>
			</li>
			<li class="breadcrumb-item active name" aria-current="{{ arme.nom }}">{{ arme.nom }}</li>
		</ol>
	</nav>
{% endblock %}

{% block body %}

<div class="row row-cols-1 row-cols-md-2 row-cols-sm-1">
    <div class="col">
        <div class="card mb-3">
			<h3 class="pb-2 mb-0"></h3>
			<div class="d-flex text-muted pt-3">
				<img src="{{ asset("img/armes/" ~ arme.nom|lower|replace({"é":"e"}) ~ ".png") }}" class="bd-placeholder-img flex-shrink-0 me-2 rounded mr-4" width="80" height="110"/>
				<div class="pb-3 mb-0 small lh-sm">
					<h5>Caractéristiques de l'arme : <span class="name">{{ arme.nom }}</span> 
					</h5>
					<table class="table">
						<tbody>
							<tr>
								<td>Description</td>
								<td>{{ arme.description }}</td>
							</tr>
							<tr>
								<td>Dégat</td>
								<td>{{ arme.degat }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
