/* customized bootstrap css */

body {
    color: #f1f1f1;
    -webkit-font-smoothing: antialiased;
}

a {
    color: rgba(64, 98, 214,1);
    text-decoration: none;
}

a:hover {
    color: rgba(64, 98, 214,.8);
    text-decoration: none;
}

.page-title{
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.name{
    text-transform: capitalize;
}

.cover-container {
    max-width: 90%;
}

.bg-dark {
    background-color: #212F3D !important;
}

.navbar-dark{
    background-color: #1C2833 !important;
}

.bg-light {
    background-color: #f8f9fa;
}

.text-white {
    color: #fff;
}

.card-img-top.perso{
    width:90px; 
    margin: auto;
}

.footer {
    color: rgba(255,255,255,.5);
    background-color: #1C2833 !important;
}