{% extends 'base.html.twig' %}

{% block title %}Appli1
{% endblock %}

{% block monTitre %}
	<button type="button" class="btn btn-primary btn-lg" disabled>
		Appli
		<span class="badge bg-dark">1</span>
	</button>
{% endblock %}

{% block body %}

	<p class="lead">
		<strong>Appli1</strong>
		est une petite appli permettant d'afficher des personnages et leurs armes.</p>
	<p>Ce petit exercice m'a permis de traiter :</p>
	<ul>
		<li>Les bases du Framework PHP symfony.</li>
		<li>Les bases de routage et de structuration d'une application Symfony.</li>
		<li>Les notions fondamentales de PHP (tableaux associatif, POO, et MVC).</li>
	</ul>

	<p>Lancer l'appli en local à partir de la racine du dossier via terminal :<br>
		<code>
			$ php -S 0.0.0.0:8888 -t public/
		</code>
	</p>

	<div class="row mb-2">
		<div class="col-md-6">
			<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column position-static">
					<strong class="d-inline-block mb-2 text-primary">/persos</strong>
					<h3 class="mb-0">Liste des personnages</h3>
					<p class="mb-auto">Découvrez les fabuleux personnages de cet exercice.</p>
					<a href="{{ path("personnages") }}">Voir la liste des personnages</a>
				</div>
				<div class="col-auto d-none d-lg-block">
					<img src="{{ asset("img/personnages/Marc.png") }}" class="bd-placeholder-img"  height="100%"/>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column position-static">
					<strong class="d-inline-block mb-2 text-success">/armes</strong>
					<h3 class="mb-0">Liste des armes</h3>
					<p class="mb-auto">Découvrez le catalogue des armes et leurs caractéristiques.</p>
					<a href="{{ path("armes") }}">Voir la liste des armes</a>
				</div>
				<div class="col-auto d-none d-lg-block">
					<img src="{{ asset("img/armes/epee.png") }}" class="bd-placeholder-img"  height="100%"/>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
