{% extends 'base.html.twig' %}

{% block title %}Liste des personnages {% endblock %}



{% block monTitre %}Liste des personnages{% endblock %}

{% block breadcrumb %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Accueil</a></li>
        <li class="breadcrumb-item active" aria-current="persos">Persos</li>
    </ol>
</nav>
{% endblock %}

{% block body %}


<div class="row row-cols-1 row-cols-md-3 row-cols-sm-1">
{% for player in players %}
    <div class="col">
        <div class="card mb-3">
          <img src="{{ asset("img/personnages/" ~ player.nom ~ ".png") }}" class="card-img-top perso" alt="">
          <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                    <td>Pseudo</td>
                    <td><a href="{{ path("afficher_personnage", {"nom" : player.nom|lower }) }}">{{ player.nom }}</a></td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
{% endfor %}
</div>





{% endblock %}
