{% extends 'base.html.twig' %}

{% block title %}Personnage :
	{{ perso.nom }}
{% endblock %}

{% block monTitre %}Description du personnage
{% endblock %}


{% block breadcrumb %}
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="/">Accueil</a>
			</li>
    		<li class="breadcrumb-item">
				<a href="/persos">Persos</a>
			</li>
			<li class="breadcrumb-item active" aria-current="{{ perso.nom }}">{{ perso.nom }}</li>
		</ol>
	</nav>
{% endblock %}

{% block body %}

<div class="row row-cols-1 row-cols-md-2 row-cols-sm-1">
    <div class="col">
        <div class="card mb-3">
			<h3 class="pb-2 mb-0"></h3>
			<div class="d-flex text-muted pt-3">
				<img src="{{ asset("img/personnages/" ~ perso.nom ~ ".png") }}" class="bd-placeholder-img flex-shrink-0 me-2 rounded mr-4" width="80" height="110"/>
				<div class="pb-3 mb-0 small lh-sm">
					<h5>Caractéristiques de {{ perso.nom }} :
					</h5>
					<table class="table">
						<tbody>
							<tr>
								<td>Age</td>
								<td>{{ perso.age }}</td>
							</tr>
							<tr>
								<td>Sexe</td>
								{% if perso.sexe == true %}
									<td>Homme</td>
								{% else %}
									<td>Femme</td>
								{% endif %}
							</tr>
							<tr>
								<td>Force</td>
								<td>{{ perso.carac.force }}</td>
							</tr>
							<tr>
								<td>Agilité</td>
								<td>{{ perso.carac.agi }}</td>
							</tr>
							<tr>
								<td>Intelligence</td>
								<td>{{ perso.carac.intel }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
