<!doctype html>
<html lang="en" class="h-100">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title>
			{% block title %}Appli1
			{% endblock %}
		</title>
		<meta name="theme-color" content="#7952b3"> {% block stylesheets %}{% endblock %}
		<!-- Bootstrap core CSS -->
		<link
		href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

		<!-- Main Style -->
		<link
		href="{{ asset("css/main.css") }}" rel="stylesheet">

		<!-- Favicons -->
		<link rel="icon" href="https://getbootstrap.com/docs/5.0/assets/img/favicons/favicon.ico">

		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}

			@media(min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}
		</style>
	</head>

	<body class="d-flex flex-column h-100 bg-dark ">
		<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
			{% include "menu.html.twig" %}

			<!-- Begin page content -->
			<main class="mt-5">
				<div class="container mt-4">
					<div class="row">
						{% block breadcrumb %}
							<nav aria-label="breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item active" aria-current="page">Accueil</li>
								</ol>
							</nav>
						{% endblock %}
						<h3 class="my-4 page-title">
							{% block monTitre %}
							Mon titre
							{% endblock %}
						</h3>

						{% block body %}{% endblock %}
					</div>
				</div>
			</main>
		</div>
		<footer class="footer mt-auto py-3">
			<div class="container">
				<p>
					<a href="/" style="text-decoration:none">
						<strong>App1</strong>
					</a>
					| Application pour la presentation de personnages - Travail réalisé grâce aux frameworks
					<a href="https://symfony.com/" style="text-decoration:underline" target="_blank">Symfony</a>
					et
					<a href="https://getbootstrap.com/" style="text-decoration:underline" target="_blank">Bootstrap</a>.
				</p>
			</div>
		</footer>
		{% block javascripts %}{% endblock %}
		<script src="https://getbootstrap.com/docs/5.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>

	</body>
</html>
