{% block menu %}
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ path("accueil") }}">
            <img src="{{ asset("img/symfony.svg") }}" alt="" width="22" height="22" class="mb-1"/> Appli1</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("personnages") }}">Personnages</a>
                    </li>                    
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("armes") }}">Armes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock %}